rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /groups/{groupId} {
      // need to develop this feature first.
      allow read, write: if true;
    }

    match /interests/{docId} {
      allow read: if true;
      allow create, write: if (request.auth != null);
      allow update, delete: if false;
    }
    
    match /user_interest_activity/{activityId} {
      allow create: if (request.auth != null);
      allow read, write: if (resource.data.uid == request.auth.uid);
    }

    match /users/{userId} {
      allow read, write: if (request.auth.uid == userId);
    }

  }
}